@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', cursive;
  margin: 20px;
  background-color: #ffffff;
  color: #333;
}

h1 {
  color: #2B276F;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #2B276F;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}